{% if settings.enabled %}
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    {% do view.registerAssetBundle("dutchheight\\cookieboss\\assetbundles\\cookieboss\\CookieBossAsset") %}
    {% set baseAssetsUrl = view.getAssetManager().getPublishedUrl('@dutchheight/cookieboss/assetbundles/cookieboss/dist', true) %}
    {% set checkedIcon = baseAssetsUrl ~ '/img/check-solid.svg' %}
    {% set lockedIcon = baseAssetsUrl ~ '/img/lock-solid.svg' %}

    <script>
        window.csrfParam = "{{ craft.app.request.csrfParam }}"
        window.csrfToken = "{{ craft.app.request.csrfToken }}"
        window.cookieBossHideAfter = "{{ settings.acceptAfterSeconds }}"
        window.addTrailingSlashesToUrls = ('{{ craft.app.config.general.addTrailingSlashesToUrls | json_encode }}' == 'true')
    </script>

    <div id="cookie-boss" v-if="show">
        {% if settings.forceAccept %}
            <div id="cookie-boss-forcer">${ toggleForceAccept({{ settings.forceAccept }}) }</div>
        {% endif %}

        {% if settings.presentGroups %}
            <div id="cookie-boss-modal" class="{{ templateSettings.position }}">
                <div id="container" v-if="!settingsOpen">
                    <h3 class="item-wrapper item-wrapper-padding noselect" style="width: 100%;">{{ settings.title }}</h3>
                    <p class="item-wrapper item-wrapper-padding noselect" style="width: 100%;">{{ settings.message }}</p>
                    <div class="item-wrapper item-wrapper-padding">
                        <a class="noselect" v-on:click="toggle">{{ settings.settingsButtonText }}</a>
                    </div>
                    <div class="item-wrapper item-wrapper-padding">
                        <a class="accept noselect" v-on:click="accept()">{{ settings.acceptButtonText }}</a>
                    </div>
                </div>

                <div id="container" class="more-detail" v-if="settingsOpen">
                    <h3 class="item-wrapper item-wrapper-padding" style="width: 100%;">{{ settings.title }}</h3>
                    <p class="item-wrapper item-wrapper-padding" style="width: 100%;">{{ settings.messageSettings }}</p>
                    <div class="consent-groups">
                        {% for group in consentGroups %}
                            <consent-group :item="{{ group.toArray()|json_encode }}" checked-icon-path="{{ checkedIcon }}" locked-icon-path="{{ lockedIcon }}" @toggled="toggledEvent"></consent-group>
                        {% endfor %}
                    </div>

                    <div class="item-wrapper item-wrapper-padding" style="width: 100%;">
                        <a class="accept noselect" v-on:click="accept()">{{ settings.acceptButtonSettingsText }}</a>
                    </div>
                </div>
            </div>

        {% else %}

            <div id="cookie-boss-modal" class="{{ templateSettings.position }}">
                <div id="container">
                    <h3 class="item-wrapper" style="width: 100%;">{{ settings.title }}</h3>
                    <p class="item-wrapper" style="width: 100%;">
                        {{ settings.message }}
                        {% if settings.cookiesPageId %}
                            {{ 'For more info visit our'|t('cookie-boss') }} <a href="{{ settings.cookiesPageId.url }}">{{ 'Cookie page'|t('cookie-boss') }}</a>
                        {% endif %}
                    </p>
                    <div class="item-wrapper" style="width: 100%;">
                        <a class="accept" style="width: 100%;" v-on:click="accept()">{{ settings.acceptButtonText }}</a>
                    </div>
                </div>
            </div>

        {% endif %}
    </div>
{% endif %}