{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Craft Cookie consent plugin for Craft CMS 3.x
 *
 * Craft Cookie consent Settings.twig
 *
 * @author    Dutch Height
 * @copyright Copyright (c) 2019 Dutch Height
 * @link      www.dutchheight.com
 * @package   CraftCookieConsent
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% set fullPageForm = true %}

{% import "_includes/forms" as forms %}

{% set title = 'Craft Cookie Consent Settings'|t('craft-cookie-consent') %}


{% block content %}
    <input type="hidden" name="action" value="craft-cookie-consent/settings/save-general">
    {{ csrfInput() }}

    <div id="list-general">

        {{ forms.lightswitchField({
            label: 'Enabled',
            instructions: 'Enable the plugin.' |t('craft-cookie-consent'),
            id: 'enabled',
            name: 'enabled',
            on: settings['enabled']})
        }}

        {{ forms.lightswitchField({
            label: 'Give choices immediately',
            instructions: 'Give choices immediately, turn off if u want "using is accepting". Keep in mind you can present the settings on a different page.' |t('craft-cookie-consent'),
            id: 'presentGroups',
            name: 'presentGroups',
            on: settings['presentGroups']})
        }}
    
        {{ forms.lightswitchField({
            label: 'Force accept',
            instructions: 'Prevent using the page until a consent is given.' |t('craft-cookie-consent'),
            id: 'forceAccept',
            name: 'forceAccept',
            on: settings['forceAccept']})
        }}

        {{ forms.elementSelectField({
            label: 'Cookie page',
            instructions: 'Set cookie page.' |t('craft-cookie-consent'),
            id: 'contactPage',
            name: 'contactPage',
            elementType: '\\craft\\elements\\Entry',
            elements: [settings['cookiesPageId']],
            limit: 1})
        }}

        {{ forms.textField({
            label: 'Consent invalid after in days' |t('craft-cookie-consent'),
            instructions: 'The amount of time the consent is valid.' |t('craft-cookie-consent'),
            id: 'cookieTime',
            name: 'cookieTime',
            type: 'number',
            min: 1,
            max: 365,
            value: settings['cookieTime']
        }) }}
    </div>

    <div id="list-popup" class="hidden">
        {{ forms.textField({
            label: 'Title' |t('craft-cookie-consent'),
            instructions: 'The title of the consent popup.' |t('craft-cookie-consent'),
            id: 'title',
            name: 'title',
            value: settings['title']
        }) }}
        
        {{ forms.textareaField({
            label: 'Message' |t('craft-cookie-consent'),
            instructions: 'The message of the consent popup.' |t('craft-cookie-consent'),
            id: 'message',
            name: 'message',
            value: settings['message']
        }) }}
        
        {{ forms.textareaField({
                label: 'Settings message' |t('craft-cookie-consent'),
                instructions: 'The settings message of the consent popup.' |t('craft-cookie-consent'),
                id: 'messageSettings',
                name: 'messageSettings',
                value: settings['messageSettings']
        }) }}
        
        {{ forms.textField({
                label: 'Accept Button' |t('craft-cookie-consent'),
                instructions: 'The text of the accept button.' |t('craft-cookie-consent'),
                id: 'acceptButtonText',
                name: 'acceptButtonText',
                value: settings['acceptButtonText']
        }) }}
        
        {{ forms.textField({
                label: 'Settings Button' |t('craft-cookie-consent'),
                instructions: 'The text of the settings button.' |t('craft-cookie-consent'),
                id: 'settingsButtonText',
                name: 'settingsButtonText',
                value: settings['settingsButtonText']
        }) }}

        {{ forms.textField({
            label: 'Hide after' |t('craft-cookie-consent'),
            instructions: 'Set the amount of seconds the the popup is visable. When the popup hides all default cookies are accepted. Set 0 to disable.' |t('craft-cookie-consent'),
            id: 'acceptAfterSeconds',
            name: 'acceptAfterSeconds',
            type: 'number',
            min: 0,
            value: settings['acceptAfterSeconds']
        }) }}
    </div>

    <div id="list-consent-groups" class="hidden">
        {{ forms.editableTableField({
            id: 'consentGroups',
            label: 'Consent groups' |t('craft-cookie-consent'),
            required: true,
            instructions: 'A consent group is a group of cookies for a specific purpose. Which consent groups do you like to include is this site.' |t('craft-cookie-consent'),
            name: 'consentGroups',
            rows: consentGroups,
            cols: {
                id: {
                    type: 'number',
                    class: 'hidden'
                },
                enabled: {
                    heading: 'Enabled' |t('craft-cookie-consent'),
                    type: 'lightswitch',
                    info: 'Set this to true if the visitor should not be allowed to refuse cookies in this group' |t('craft-cookie-consent'),
                },
                name: {
                    id: 'name',
                    heading: 'Name' |t('craft-cookie-consent'),
                    type: 'singleline',
                    info: 'The name of this consent group.' |t('craft-cookie-consent'),
                },
                handle: {
                    heading: 'Handle',
                    type: 'singleline',
                    class: 'code',
                    autocorrect: false,
                    autocapitalize: false,
                    info: 'Handle to use in twig.' |t('craft-cookie-consent'),
                },
                desc: {
                    heading: 'Description' |t('craft-cookie-consent'),
                    type: 'text',
                    info: 'The description of this group. This description is visable for your visitors.' |t('craft-cookie-consent'),
                },
                defaultValue: {
                    heading: 'Default on' |t('craft-cookie-consent'),
                    type: 'lightswitch',
                    info: 'Switches the default state.' |t('craft-cookie-consent'),
                },
                required: {
                    heading: 'Required' |t('craft-cookie-consent'),
                    type: 'lightswitch',
                    info: 'Set to true if this consent group is required to opperate the site.' |t('craft-cookie-consent'),
                }
            },
        }) }}
    </div>

    <div id="list-cookies" class="hidden">
        {{ forms.editableTableField({
            id: 'cookies',
            label: 'Cookies' |t('craft-cookie-consent'),
            required: true,
            instructions: 'A consent group is a group of cookies for a specific purpose. Which consent groups do you like to include is this site.' |t('craft-cookie-consent'),
            name: 'cookies',
            rows: cookies,
            cols: {
                id: {
                    type: 'number',
                    class: 'hidden'
                },
                enabled: {
                    heading: 'Enabled' |t('craft-cookie-consent'),
                    type: 'lightswitch',
                    info: 'Set this to true if the visitor should not be allowed to refuse cookies in this group' |t('craft-cookie-consent'),
                },
                consentGroupId: {
                    heading: 'Consent group' |t('craft-cookie-consent'),
                    type: 'select',
                    options: consentGroupsSelectOptions,
                    info: 'Set the consent group.' |t('craft-cookie-consent'),
                },
                name: {
                    id: 'name',
                    heading: 'Name' |t('craft-cookie-consent'),
                    type: 'singleline',
                    info: 'The name of this consent group.' |t('craft-cookie-consent'),
                },
                key: {
                    heading: 'key',
                    type: 'singleline',
                    class: 'code',
                    autocorrect: false,
                    autocapitalize: false,
                    info: 'Key used for this cookie.' |t('craft-cookie-consent'),
                },
                purpose: {
                    heading: 'Purpose' |t('craft-cookie-consent'),
                    type: 'text',
                    info: 'The description of this group. This description is visable for your visitors.' |t('craft-cookie-consent'),
                },
                desc: {
                    heading: 'Description' |t('craft-cookie-consent'),
                    type: 'text',
                    info: 'The description of this group. This description is visable for your visitors.' |t('craft-cookie-consent'),
                }
            },
        }) }}
    </div>
{% endblock %}


{% js %}
    {% for item in settings.consentGroups %}
        new Craft.HandleGenerator('textarea[name=cookieGroups\\[{{ loop.index0 }}\\]\\[name\\]]', 'textarea[name=cookieGroups\\[{{ loop.index0 }}\\]\\[handle\\]]');    
    {% endfor %}
{% endjs %}