<table id="cookie-descriptions">
    <thead>
        <tr>
            <th>{{ 'Name'|t }}</th>
            <th>{{ 'Description'|t }}</th>
            <th>{{ 'Purpose'|t }}</th>
            <th>{{ 'Key'|t }}</th>
        </tr>
    </thead>
    <tbody>
        {% set last = '' %}
        {% for cookieDescription in cookieDescriptions %}
            {% if cookieDescription.consentGroup %}
                {% if cookieDescription.consentGroup.name != last %}
                    <tr class="cookie-descriptions-group-title">
                        <td colspan="4">{{ cookieDescription.consentGroup.name }}</td>
                    </tr>
                {% endif %}
                {% set last = cookieDescription.consentGroup.name %}
            {% endif %}
            <tr class="cookie-descriptions consent-{{ cookieDescription.hasConsent() ? 'true' : 'false' }}">
                <td>{{ cookieDescription.name }}</td>
                <td>{{ cookieDescription.desc }}</td>
                <td>{{ cookieDescription.purpose }}</td>
                <td>{{ cookieDescription.key }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>