{% set url =  "/cookie-boss/toggle-consent-group" ~ (craft.app.config.general.addTrailingSlashesToUrls ? '/' : '') %}
<form id="toggle-{{ handle }}-form" action="{{ url }}" method="POST">
    {{ csrfInput() }}
    {{ redirectInput(craft.app.request.pathInfo) }}
    <input type="hidden" name="groups[{{ handle }}]" value="" />
    <input type="checkbox" class="inline toggle-consentGroup-checkbox ml-2" value="true"
        name="groups[{{ handle }}]"
        onchange="document.getElementById('toggle-{{ handle }}-form').submit();"
        id="toggle-{{ handle }}-checkbox"
        {% if consentGroup.required %} disabled {% endif %}
        {% if consentGroup.hasConsent() or consentGroup.required %}checked {% endif %}>
</form>